#alert_message{
  position:absolute;
  width:300px;
  height:200px;
  font-size:30px;
  color:rgb(255, 66, 66);
  font-weight: bold;
  font-family:Arial, Helvetica, sans-serif;
  background-color: black;
  text-align:center;
  vertical-align: middle;
  z-index:100;
  visibility: hidden;
}

.alert_message_label{
  position:absolute;
  top: 23%;
  right: 0;
  left: 0;
  font-size:2.5em;
}

.alert_message_timeover_label{
  position:absolute;
  right: 0;
  bottom: 10%;
  left: 0;
  color:rgb(231, 208, 0);
  font-size:1.5em;
}

.alert_message_label_caution{
  position:absolute;
  right: 0;
  top: 12%;
  left: 0;
  color:rgb(231, 208, 0);
  font-size:1.2em;
}

.alert_message_header {
  top: 5;
}

.alert_message_bottom {
  bottom: 5;
}

.alert_message_stripes{
  position:absolute;
  width:100%;
  height:10%;
  background-image:
    repeating-linear-gradient(-45deg,transparent 0px,transparent 10px,rgb(255, 66, 66) 10px,rgb(255, 66, 66) 20px);
}



#lower_part{
  top:100px;
  position:absolute;
  font-size:50px;
  font-family:"ヒラギノ丸ゴ ProN";
}

#measure_time_label{
  width:200px;
  height:50px;
  font-size:50px;
}

.canvas-wrap{
    width: 600px;
    max-width: 100%;
    position: relative;
    padding: 0;
    box-sizing: content-box;
}
.canvas_warp:before{
    content:"";
    display: block;
    padding-top: 50%;
}
.canvas{
    position: absolute;
    left:0;
    top:0;
    border: 0;
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    z-index: 0;
}
.canvas_field{
    position:relative;
    width:500px;
    height:500px;
    display: block;
}

p {
    font-size:14px;
}

.passed_time_label{
    font-size:25px;
    display:table;
    width:100%;
    height:100%;
    align-items: center;
    z-index: 10;
    justify-content: center;
}

.passed_time_label_content{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
/* STARTボタン設定 */

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding:10px 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-flat {
  overflow: hidden;

  padding: 1.5rem 6rem;

  color: #fff;
  border-radius: 0;
  background: #000;
}

a.btn-flat span {
  position: relative;
}

a.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;

  width: 150%;
  height: 500%;

  content: "";
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);

  background: #00b7ee;
}

a.btn-flat:hover:before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}